
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=yes">
    <title>Medical Chatboat </title>
    <meta name="description" content="Chat Bot UI/UX & html for web" />
    <meta name="keywords" content="Chat Bot UI/UX & html for web, UI/UX for chat bot, chat bot html, best chatbot, chatbot app, online chat bot plugin" />
    <meta name="author" content="css3transition" />
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="description" content="Chat Bot UI/UX & html for web, UI/UX for chat bot, chat bot html, best chatbot, chatbot app, online chat bot plugin | Css3Transition " />
    <meta name="keywords" content="Chat Bot UI/UX & html for web, UI/UX for chat bot, chat bot html, best chatbot, chatbot app, online chat bot plugin" />
    <meta name="abstract" content="Chat Bot UI/UX & html for web, UI/UX for chat bot, chat bot html, best chatbot, chatbot app, online chat bot plugin">
    <meta name="author" content="Rahul Yaduvanshi">
    <meta name="technologies" content="HTML5, CSS3, HTML, CSS, JQUERY, Bootstrap, Angular">
    <meta name="distribution" content="Global">
    <meta name="development" content="Rahul Yaduvanshi">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="city" content="New Delhi">
    <meta name="country" content="india">
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link href="/css/select2.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/chatBot.css" rel="stylesheet" type="text/css"/>
    <link href="/css/timeline.css" rel="stylesheet" type="text/css"/>

    <style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/assets/img/backgrounds/3.jpg");
  background-color: #cccccc;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
</style>
 <script defer src="https://cdn.socket.io/socket.io-1.2.0.js"></script> 
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js">  --}}
</script> 
</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="/dashboard" class="">Home</a>
  <a href="/about_guide" class="">About Guide</a>
  <a href="/about">About Us</a>
  <a href="/about_project">About Project</a>
  <a href="/logout">Logout</a>
  <a href="/javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>


<div class="container-fluid">
  <span id="keyss" hidden>{{text}}</span>
    <div class="row">
         <div class="col-md-7 card m-2 p-2" id="keyssx" style="height:55px">

      </div>
      
      <div class="col-md-4 card m-2 p-2">
        <h3 class="text-center">About Us</h3>
        <p><b>Student name1</b></p>
        <p><b>Student name2</b></p>
        <p><b>Student name3</b></p>
        <p><b>Student name4</b></p>
      </div>
        </div>
    </div>
</div>
<div class="chat-screen" >
    <div class="chat-header">
        <div class="chat-header-title">
            Let’s chat..
        </div>
        <div class="chat-header-option hide">
            <span class="dropdown custom-dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>
            </span>
        </div>
    </div>
    <div class="chat-mail">
        <div class="row">
            <div class="col-md-12 text-center mb-2">
                <p>Hi 👋! Please Click to start chatting.</p>
            </div>
        </div>
        <div class="row">
  
            <button class="btn btn-primary btn-rounded btn-block">Start Chat</button>
          
        </div>
    </div>
    <div class="chat-body hide messages" style="overflow-y: scroll;">
      {{!-- id="messages" --}}
        <div class="chat-bubble you">Welcome {{name}} , we are ready to help.</div>
        {{!-- <div class="chat-bubble me">Hi,</div> --}}
         <div id="messages" class="chat-bubble me" style="width:100%"></div>

    </div>
    
   

    <form class="chat-form" action="">
    <div class="chat-input hide" id="composer-area">
      <a href="#" id="finalresult" onclick="finalResult()" style="background-color:#A4D4A6;color:#0a0a0a;margin-left:3px;padding:2px;border:1px solid red; ">Final Result</a>

      <a href="#" id="finalresult" onclick="clearResult()" style="background-color:#db1212;color:#fdf9f9;margin-right:3px;padding:2px;border:1px solid rgb(11, 238, 60); ">Clear Result</a>

        <input type="text" id="m" autocomplete="off" class="chat-inputt" placeholder="Type a message..." autofocus>
        <div class="input-action-icon" >
         
          <button id="send-button" class="p-0 m-0 shadow-none" style="border: none;background: none;"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg></button> 
        </div>
    </div>
  </form>
</div>
<div class="chat-bot-icon">
    <img src="/img/we-are-here.svg"/>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square animate"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x "><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
</div>
<!-- Chat Bot UI Ends -->
<script>
  var txtkey = document.getElementById("keyss").innerHTML;
   var obj=JSON.parse(txtkey);

let newArray = []; 
 let uniqueObject = {}; 
 for (let i in obj) { 

                objTitle = obj[i]['text']; 

                uniqueObject[objTitle] = obj[i]; 
            } 
             for (i in uniqueObject) { 
                newArray.push(uniqueObject[i]); 
            } 
           //  console.log(newArray); 
  var x = document.createElement("SELECT");
  x.setAttribute("id", "mySelect");
   document.body.appendChild(x);
    var slex = document.createElement("option");
    slex.setAttribute("value", " ");
    slex.setAttribute('selected', 'selected');
      var sel=document.createTextNode("select symtoms");
      x.setAttribute("onChange","putVal(this)");
       x.setAttribute("class","form-control");
      x.setAttribute("style","width:40%");
         slex.appendChild(sel);
           document.getElementById("mySelect").appendChild(slex);
 for(var i=0;i<newArray.length;i++){
    //document.getElementById("keyssx").innerHTML="<span><button style=''>"+obj[i].text+"</button></span>";
  // var button = document.createElement("button");
  //  button.innerHTML = newArray[i].text;
  //  button.className = "btn btn-success";
 //   button.id = i;
  //  button.setAttribute("onClick","putVal(this)");
  //  button.style = "margin:3px;";
  //  var buttonDiv = document.getElementById("keyssx");
 //   buttonDiv.appendChild(button);

   var z = document.createElement("option");
   z.setAttribute("value", newArray[i].text);

  var t = document.createTextNode(newArray[i].text);

  z.appendChild(t);

   document.getElementById("mySelect").appendChild(z);
    var buttonDiv = document.getElementById("keyssx");
   buttonDiv.appendChild(x);

 }
function putVal(e){
//alert(e.id);
var xp=e.value;
//var xp=document.getElementById(e.id).innerHTML;
//alert(xp);d
document.getElementById("m").value=xp;
}
</script>
<script type="257be86a981729866f2fa61c-text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-83834093-1', 'auto');
    ga('send', 'pageview');

  </script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="257be86a981729866f2fa61c-|49" defer=""></script>
<!-- Time line Html Ends -->
<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->

<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/select2.min.js"></script>

 <script>
        $(document).ready(function(){
            $(".select2_el").select2({
            });
        });
        </script>
<script>
    $(document).ready(function () {
        //Toggle fullscreen
        $(".chat-bot-icon").click(function (e) {
            $(this).children('img').toggleClass('hide');
            $(this).children('svg').toggleClass('animate');
            $('.chat-screen').toggleClass('show-chat');
        });
        $('.chat-mail button').click(function () {
            $('.chat-mail').addClass('hide');
            $('.chat-body').removeClass('hide');
            $('.chat-input').removeClass('hide');
            $('.chat-header-option').removeClass('hide');
            $("#m").focus();
        });
        $('.end-chat').click(function () {
            $('.chat-body').addClass('hide');
            $('.chat-input').addClass('hide');
            $('.chat-session-end').removeClass('hide');
            $('.chat-header-option').addClass('hide');
        });
    });

</script>
<script>
function clearResult(){
  var clr=confirm("do you really want to clear Old Result");
  if(clr==true){
  $.ajax({
      method: 'post',
      url: 'http://localhost/medical_chatbot/crearresult.php',
      data: {
        
      },
      success: function(data) {
       
      }
    });
  }else{

  }
}

  function finalResult(){
   $.ajax({
      method: 'post',
      url: 'http://localhost/medical_chatbot/finalresult.php',
      data: {
        
      },
      success: function(data) {
        if(data!=""){
        $('#messages').append($('<div class="chat-bubble you">').html("Your disease is:" + data +"\n"+formatAMPM(new Date)));


            $.ajax({
      method: 'post',
      url: 'http://localhost/medical_chatbot/drsuggession.php',
      data: {
        'finalres': data
      },
      success: function(dataa) {
        if(dataa!="Specialist Doctor Not Found!!"){
         $('#messages').append($('<div class="card p-2 m-2">').html("<h5>Suggested Doctor:</h5>Dr Name: "+dataa+"<br>"+"Specialist In: "+data));
           }else{
              $('#messages').append($('<div class="card p-2 m-2">').html(dataa));
          
           }
          }
          });
        }
      }
    });

    

  }
</script>
<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('connect', function(data) {
        socket.emit('joined', 'Hello World from client');
    });
    socket.on('acknowledge', function(data) {
        alert(data);
    });
    $('form').submit(function(){
      if($('#m').val()!=" " && $('#m').val()!=""){
        socket.emit('chat message', $('#m').val());
        $('#messages').append($('<div class="chat-bubble me">').text($('#m').val()+"\n"+formatAMPM(new Date)));
        $('#m').val('');
        $('#m').focus();
        $(".messages").stop().animate({ scrollTop: $(".messages")[0].scrollHeight}, 1000);



        return false;
      }else{
        alert("Please Enter Your Symtom!!");
        return false;
      }
    });
    //from server
     var count=0;
    socket.on('response message', function(data) {
        //var arrdta=data.split("~");
      //  var msg=arrdta[0];
       // var timee=arrdta[1];
       // var msgtimedata="<div>"+msg+"</div><span>"+timee+"</span>";
        $('#messages').append($('<div class="chat-bubble you">').html(data));
     //   localStorage.setItem($('#m').val(),data);
       // $('#messages').append($('<div class="chat-bubble you">').html(data));
          //console.log(data);
          var str=data.split("~");
         
          count++;
          // console.log(count);
           //localStorage.setItem(count, str[0]);

           
          $.ajax({
      method: 'post',
      url: 'http://localhost/medical_chatbot/addpred.php',
      data: {
        'count': count,'pred': str[0]
      },
      success: function(data) {
       
      }
    });


    });
   

  function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'pm' : 'am';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
}
</script>
</body>

</html>